<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jessprac.toiletofseoul">

    <!-- 현재 위치를 위한 권한 요청 -->
    <!-- 네트워크 기반 위치 : 실내가능, 배터리소모 비교적 적음, 정확도 떨어짐 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- GPS기반 위치 : 실내 불가능, 배터리소모 비교적 많음, 정확도 높음 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 인터넷 사용 권한 요청. -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToiletOfSeoul">
        <!-- API키 -->
        <meta-data android:name="com.google.android.geo.API_KEY"
                   android:value="AIzaSyAYWhmnrIhsQ4VpC_jmOe_LgSaDBXL4PF4" />
        <!-- 구글 플레이 서비스 버전 -->
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <!-- 파이버전부터 필요함 -->
        <uses-library android:name="org.apache.http.legacy"
                      android:required="false" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>